.venv/
__pycache__/
*.pyc
.pytest_cache/
data/*.sqlite
data/*.sqlite-*
*.egg-info/
.DS_Store
.local/
# >>> Comet managed project state >>>
!/.comet/
/.comet/*
!/.comet/config.yaml
# <<< Comet managed project state <<<
